
/* Cabeçario */
header{
    padding: 40px;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    display: inline-block;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 120px;
}

hr{
    height: 6px;
    background-color: #95a1af;
    border: none;
    margin-top: -40px;
}
