
/* Conteiner do cabeçario */
.interface{
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -40px;
}



/* Conteiner das habilidades */
.interface2{
    margin-top: 240px;
}

.flex{
    display: flex;
}

.habilidades .habilidades-box{
    display: flex;
    margin-bottom: 50px;
    margin-top: 80px;
    margin-left: -30px;
}



/* Conteiner sobre mim */
.interface2{
    margin-top: 240px;
}

.flex{
    display: flex;
}

.sobre_mim{
    margin-top: 300px;
}

.sobre_mim .sobre_mim-box{
    display: flex;
    margin-bottom: 50px;
    margin-top: 80px;
    margin-left: 30px;
}



/* Conteiners dos projetos*/

/* Conteiner do projeto curriculo*/
.projeto-curriculo .curriculo-box{
    flex-direction: column;
    
}

.conteudo-box{
    display: flex;
    margin-left: 110px;
    margin-top: 50px;
}

.conteudo-box  p{
    margin-left: 200px;
}

.p-box{
    display: flex;
    gap: 20px;
    max-width: 100%; 
    flex-direction: column;
    white-space: normal; 
    overflow-wrap: break-word;
    word-break: break-all;
    margin-left: -80px;
}


.p-box .p1{
    margin-top: 50px;
}

.p-box .p2{
    margin-top: 270px;
}

.botao-box{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    margin-top: -50px;
    margin-bottom: 20px;
      
}

.botao-box .botao{
    margin-left: 10px;
}

.botao-box .botao2{
    margin-left: 40px;
}
