
/* Conteiner do cabeçario */
.interface{
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -40px;
}

/* Conteiner das habilidades */
.interface2{
    margin-top: 240px;
}

.flex{
    display: flex;
}

.habilidades .habilidades-box{
    display: flex;
    margin-bottom: 50px;
    margin-top: 80px;
    margin-left: -40px;
}

