
/* Cor geral */
body{
    background: linear-gradient(#9aa4bb, #324e59);
    height: 200vh;
}

/* Cor do texto cabeçario */
header a{
    color: #373b4b;
}

header a:hover{
    color: #6a7397; 
    transform: scale(1.05);
    transition: .2s;
}

/* Cor do cabeçario */

.interface{
    background-color: #e3e8ef;
}

/*  */