
/* Cor geral */
body{
    background-color: #f3f4f6;
    height: 400vh;
}

/* Cor do texto cabeçario */
header a{
    color: #373b4b;
}

header a:hover{
    color: #6a7397; 
    transform: scale(1.05);
    transition: .2s;
}

/* Cor do cabeçario */

.interface{
    background-color: #fff;
}

/* Cor da parte das habilidades */

.interface2{
    background-color: #fff;
}

/* Cor dos títulos*/
h2{
    color: #1a2f4c ;    
}

h3{
    color: #1a2f4c ;
}


/* Cor do texto geral */
p{
    color: #475569;
}

video{
    background-color: aqua;
}
