
/* Texto do cabeçario */
header nav ul li{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Titulos*/
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    text-align: center;
    padding-top: 60px;
}


/* paragrafos das habiliddes */
.habilidades .habilidades-box p{
    margin-top: 80px;
    margin-left: 40px;
    font-size: 25px;
    padding: 20px 20px;
}

.habilidades .habilidades-box .p_css{
    margin-left: -30px;
    font-size: 30px;
}
.habilidades .habilidades-box .p_html{
    margin-left: -30px;
    font-size: 30px;
}

.habilidades .habilidades-box .p_java{
    margin-left: -20px;
    font-size: 30px;
}

/* paragrafo sobre mim */
.sobre_mim .sobre_mim-box .sobre_mim_p{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}